ul,
h1,
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo, .logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffffff;
  color: #757575;
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a.mail,
a.phone {
  color: #757575;
}

.page-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #ececec;
}

.header-style {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.header-style .link,
.header-style .mail,
.header-style .phone {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-style .link:hover, .header-style .link:focus,
.header-style .mail:hover,
.header-style .mail:focus,
.header-style .phone:hover,
.header-style .phone:focus {
  color: #2196f3;
  cursor: pointer;
}

.site-nav .link.current-index {
  color: #2196f3;
}

.page-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.site-nav {
  margin-top: 60px;
}

.site-nav .item + .item {
  margin-top: 50px;
}

.contacts {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contacts .mobile-header {
  margin-top: 16px;
}

.site-nav .link.current-index {
  position: relative;
}

.site-nav .link.current-index::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.envelope-icon,
.phone-icon {
  margin-right: 5px;
  fill: currentColor;
}

.logo {
  font-size: 24px;
  line-height: 1.16;
}

.logo-color {
  color: #2196f3;
}

.logo-footer {
  padding: 0px;
  margin-right: 0px;
  color: #ffffff;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.icon-menu {
  display: none;
  fill: currentColor;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  color: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.icon-cross {
  fill: currentColor;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  color: #2196f3;
}

.menu-container {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  height: 393px;
  background-color: #ffffff;
  text-align: center;
}

.menu-container.is-open {
  display: block;
}
/*# sourceMappingURL=portfolio.css.map */