.logo {
  font-size: 24px;
  line-height: 1.16;
  @extend %logo-style;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.logo-color {
  color: $accent-color;

  @media screen and (max-width: 767px) {
    margin-right: -10px;
  }
}

.logo-footer {
  padding: 0px;
  margin-right: 0px;

  @extend %logo-style;

  color: $white-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
