$primary-text-color: #757575;
$secondary-text-color: #212121;
$white-color: #ffffff;
$accent-color: #2196f3;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$logo-font: Raleway, sans-serif;
$main-font: Roboto, sans-serif;
